.ContainerMap {
  width: 50%;

  &__map {
    max-width: 600px;
    height: 500px;
    margin: 10px
  }
}

@media screen and (max-width: 1256px) {
  .ContainerMap {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}