.ContainerAddress {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
  // justify-content: space-around;
  // padding: 0 20px;
}

@media screen and (max-width: 1256px) {
  .ContainerAddress {
    align-items: center;
    width: 100%;
    margin: 0;
  }
}